{% extends 'base.html' %}

{% load static %}

{% block contenidoQCambia %}
<link rel="stylesheet" type="text/css" href="{% static 'css/agregar_resena.css' %}">
<div class="container" style="max-width: 30rem;">
    <div class="card text-white bg-dark mb-3" style="max-width: 30rem; padding: 1rem; max-height: 35rem;">
        <h2 class="heading-black text-center" style="color: yellow;">Agregar Reseña</h2>
    <form method="POST" class="input-group-prepend" style="background-color: rgb(34, 33, 36);">{% csrf_token %}
        {{ mi_formulario.as_p }}
        <button type="submit" class="btn btn-outline-success">Agregar</button>
    </form>
    </div>
    </div>
{% endblock contenidoQCambia %}
