{% extends 'base.html' %}

{% load static %}

{% block contenidoQCambia %}
<link rel="stylesheet" type="text/css" href="{% static 'css/editar_peliculas.css' %}">
<div class="container" style="max-width: 40rem;">
    <div class="card text-white bg-dark mb-3" style="max-width: 35rem; padding: 1rem; max-height: 80rem;">
    <h1 style="color: yellow;">Editar Pelicula</h1>

    <form style="background-color: rgb(34, 33, 36);" action="{% url 'EditarPelicula' id %}"  method="POST">
        {% csrf_token %}
        {{mi_formulario.as_p}}

        <input type="submit" class="btn btn-outline-info" value="Actualizar">
    </form>
    </div>
    </div>
{% endblock contenidoQCambia %}